---
import { TextSection } from '@components/odyssey-theme';
import Layout from '../../layouts/Page.astro';
import HeroSection from '../../components/sections/heros/HeroSection.astro';

const seo = {
	title: 'Gradina',
	description: 'About Page',
};
---

<Layout {seo}>
	<HeroSection>
		<div slot="text-container">
			<h1>Despre Nufarul Alb</h1>
			<p>
				Casa de Vacanta Nufarul Alb, amplasat în frumusețea senină a Deltei
				Dunarii, este o dovadă a ospitalității dovada fiind faptul ca devenit un
				refugiu prețuit pentru nenumărați călători de-a lungul anilor.
			</p>
		</div>
		<span slot="images-list">
			<img
				src="/assets/images/home/classic-hero.jpg"
				alt="Astro Odyssee"
				id="home-hero-image"
			/>
			<img src="/assets/images/home/gradina2.jpg" alt="Image 1" />
			<img src="/assets/images/home/gradina3.jpg" alt="Image 2" />
			<img src="/assets/images/home/gradina6.jpg" alt="Image 3" />
			<img src="/assets/images/home/gradina4.jpg" alt="Image 3" />
			<img src="/assets/images/home/gradina5.jpg" alt="Image 3" />
			<img src="/assets/images/home/casa1.jpg" alt="Image 3" />
		</span>
	</HeroSection>
	<TextSection narrow>
		<p>
			Cu un spațiu amplu pentru delicii la grătar și mese în aer liber, oaspeții
			pot savura mese delicioase în timp ce se bucură de îmbrățișarea caldă a
			soarelui. Pentru cei care caută emoție, pârâul nostru liniștit oferă
			aventuri de pescuit și momente liniștite pe marginea apei.
		</p>
		<p>
			Situată în comuna Dunavățul de Jos, în județul Tulcea, vă așteptăm să vă
			bucurați de confortul și liniștea oferite de natură. Casa noastră de
			vacanta are o capacitate de 14 persoane și vă oferă camere duble
			confortabile la prețuri accesibile. O cameră dublă <b>costă 200 lei</b>,
			iar pentru cei care doresc un pat suplimentar, <b
				>prețul este de 235 lei</b
			>. De asemenea, puteți închiria întreaga pensiune <b
				>pentru 1.400 lei
			</b>pe noapte.
		</p>
		<p>
			Fiecare cameră are baie proprie și aer condiționat pentru confortul
			dumneavoastră. Casa noastra de vacanta dispune și de o bucătărie complet
			utilată, iar în curte veți găsi un foisor echipat cu grătar pentru a vă
			bucura de mâncărurile pregătite în aer liber. Pentru iubitorii de pescuit,
			există posibilitatea de a pescui pe malurile râului sau de a face plimbări
			cu barca.
		</p>
		<p>
			Pentru mai multe detalii și rezervări, vă rugăm să ne contactați la
			numărul de telefon <b>0755037662</b>. Vă așteptăm cu drag să vă relaxați
			si scăpați de agitația cotidiana și poate va reconectați cu frumusețea
			naturii în grădina noastră mare și frumoasă.
		</p>
	</TextSection>
</Layout>

<script>
	// Get all images
	const images =
		document.querySelectorAll<HTMLImageElement>('.image-slider img');

	let currentIndex = 0;

	images[currentIndex].style.display = 'block';
	for (let i = 1; i < images.length; i++) {
		images[i].style.display = 'none';
	}
	// Function to show next image
	function showNextImage() {
		// images[currentIndex].style.transform = 'translateX(-100%)'; // Slide left

		images[currentIndex].style.display = 'none';

		// Increment index or reset to 0 if reached the end
		currentIndex = (currentIndex + 1) % images.length;

		// Show next image
		images[currentIndex].style.display = 'block';
	}

	// Initial call to show first image
	showNextImage();

	// Set interval to change image every 10 seconds
	setInterval(showNextImage, 10000);
</script>
