---
---

<p class="odyssey-logo">Nufarul Alb</p>

<style>
	.odyssey-logo {

		margin: 0;
		font-family: var(--theme-font-family-serif);
		display: inline-block;
		text-align: center; /* Align contents to center */
		width: 100%; /* Ensure the div takes full width of its container */
		font-size: var(--font-size-md);
		color: inherit;
	}
	.odyssey-logo:hover {
		text-decoration: underline;
		cursor: pointer;
	}
</style>
